@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.text {
    z-index: 1;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 100px;
    font-weight: 200;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
}

.text span:nth-child(1) {
    color: #4285f4;
    animation: animText 1s ease-in-out infinite;
}

.text span:nth-child(2) {
    color: #ea4335;
    animation: animText 1s ease-in-out infinite;
    animation-delay: 0.8s;
}

.text span:nth-child(3) {
    color: #fbbc05;
    animation: animText 1s ease-in-out infinite;
    animation-delay: 1.2s;
}

.text span:nth-child(4) {
    color: #34a853;
    animation: animText 1s ease-in-out infinite;
    animation-delay: 1.6s;
}

@keyframes animText {
    0% {
        font-weight: 200;
    }
    50% {
        font-weight: 900;
    }
    100% {
        font-weight: 200;
    }
}

.text span:nth-child(5) {
    color: #4285f4;
    font-weight: 900;
    animation: animMark 1s ease-in-out infinite;
}

@keyframes animMark {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(30deg);
    }
}


/* CSS for background animation */

.stars-01 {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    box-shadow: 100px 200px #ffeb3b, 200px 250px #ff9800, 200px 500px #00bcd4, 300px 300px #009688, 550px 150px #00bcd4, 550px 300px #2196f3, 350px 500px #fff, 1750px 150px #00bcd4, 1000px 400px #673ab7, 650px 450px #03a9f4, 1200px 50px #ff5722, 1100px 450px #673ab7, 950px 50px #00bcd4, 1100px 500px #03a9f4, 850px 400px #ff9800, 850px 300px #f44336, 1200px 100px #ff9800, 900px 300px #cddc39, 1150px 400px #f44336, 1650px 900px #00bcd4, 650px 600px #ff5722, 350px 600px #009688, 600px 650px #e91e63, 150px 750px #00bcd4, 1750px 450px #ff5722, 250px 800px #00bcd4, 1800px 1150px #ff9800, 450px 1450px #ff5722, 1150px 800px #00bcd4, 100px 700px #3f51b5, 350px 650px #ffeb3b, 250px 600px #ff5722, 1850px 700px #cddc39, 1650px 600px #ffeb3b, 450px 1050px #673ab7, 1550px 500px #f44336, 150px 1400px #8bc34a, 800px 800px #9c27b0, 1250px 1950px #9c27b0, 100px 1700px #8bc34a, 1150px 1350px #e91e63, 1700px 50px #fff, 1750px 500px #f44336, 300px 1100px #cddc39, 350px 1650px #009688, 1700px 1200px #f44336, 450px 800px #ff5722, 2000px 500px #8bc34a, 350px 1600px #f44336, 1350px 1350px #673ab7, 1100px 1750px #3f51b5, 150px 950px #ffeb3b, 1600px 1700px #2196f3, 400px 1000px #ff9800, 650px 1050px #4caf50, 2000px 1650px #00bcd4, 1100px 700px #9c27b0, 1350px 600px #f44336, 600px 1900px #cddc39, 1500px 600px #9e9e9e, 20px 1350px #8bc34a, 850px 1800px #e91e63, 450px 1150px #2196f3, 50px 700px #ff5722, 100px 1400px #f44336, 1000px 1700px #9c27b0, 250px 600px #ff5722, 1200px 850px #cddc39, 1750px 20px #673ab7, 100px 1550px #ffeb3b, 1200px 1650px #3f51b5, 1500px 700px #2196f3, 1800px 600px #03a9f4, 650px 800px #00bcd4, 700px 600px #00bcd4, 1100px 1350px #f44336, 900px 550px #ff5722, 1600px 800px #2196f3, 1000px 1100px #f44336, 1650px 1350px #ff5722, 750px 1050px #ffc107, 1750px 800px #cddc39, 600px 1650px #f44336, 150px 1550px #673ab7, 250px 1800px #fff, 1100px 1700px #ffc107, 800px 1500px #3f51b5, 1100px 1200px #ff5722, 1450px 1600px #cddc39, 150px 1400px #fff, 1200px 1450px #03a9f4, 1800px 1050px #fff, 1250px 1300px #cddc39, 1000px 1000px #4caf50, 300px 700px #4caf50, 100px 1250px #9c27b0, 700px 1750px #00bcd4, 1950px 250px #fff, 1550px 700px #f44336;
    animation: starsUp 10s linear infinite;
}

.stars-02 {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    box-shadow: 100px 200px #ffeb3b, 200px 250px #ff9800, 200px 500px #00bcd4, 300px 300px #009688, 550px 150px #00bcd4, 550px 300px #2196f3, 350px 500px #fff, 1750px 150px #00bcd4, 1000px 400px #673ab7, 650px 450px #03a9f4, 1200px 50px #ff5722, 1100px 450px #673ab7, 950px 50px #00bcd4, 1100px 500px #03a9f4, 850px 400px #ff9800, 850px 300px #f44336, 1200px 100px #ff9800, 900px 300px #cddc39, 1150px 400px #f44336, 1650px 900px #00bcd4, 650px 600px #ff5722, 350px 600px #009688, 600px 650px #e91e63, 150px 750px #00bcd4, 1750px 450px #ff5722, 250px 800px #00bcd4, 1800px 1150px #ff9800, 450px 1450px #ff5722, 1150px 800px #00bcd4, 100px 700px #3f51b5, 350px 650px #ffeb3b, 250px 600px #ff5722, 1850px 700px #cddc39, 1650px 600px #ffeb3b, 450px 1050px #673ab7, 1550px 500px #f44336, 150px 1400px #8bc34a, 800px 800px #9c27b0, 1250px 1950px #9c27b0, 100px 1700px #8bc34a, 1150px 1350px #e91e63, 1700px 50px #fff, 1750px 500px #f44336, 300px 1100px #cddc39, 350px 1650px #009688, 1700px 1200px #f44336, 450px 800px #ff5722, 2000px 500px #8bc34a, 350px 1600px #f44336, 1350px 1350px #673ab7, 1100px 1750px #3f51b5, 150px 950px #ffeb3b, 1600px 1700px #2196f3, 400px 1000px #ff9800, 650px 1050px #4caf50, 2000px 1650px #00bcd4, 1100px 700px #9c27b0, 1350px 600px #f44336, 600px 1900px #cddc39, 1500px 600px #9e9e9e, 20px 1350px #8bc34a, 850px 1800px #e91e63, 450px 1150px #2196f3, 50px 700px #ff5722, 100px 1400px #f44336, 1000px 1700px #9c27b0, 250px 600px #ff5722, 1200px 850px #cddc39, 1750px 20px #673ab7, 100px 1550px #ffeb3b, 1200px 1650px #3f51b5, 1500px 700px #2196f3, 1800px 600px #03a9f4, 650px 800px #00bcd4, 700px 600px #00bcd4, 1100px 1350px #f44336, 900px 550px #ff5722, 1600px 800px #2196f3, 1000px 1100px #f44336, 1650px 1350px #ff5722, 750px 1050px #ffc107, 1750px 800px #cddc39, 600px 1650px #f44336, 150px 1550px #673ab7, 250px 1800px #fff, 1100px 1700px #ffc107, 800px 1500px #3f51b5, 1100px 1200px #ff5722, 1450px 1600px #cddc39, 150px 1400px #fff, 1200px 1450px #03a9f4, 1800px 1050px #fff, 1250px 1300px #cddc39, 1000px 1000px #4caf50, 300px 700px #4caf50, 100px 1250px #9c27b0, 700px 1750px #00bcd4, 1950px 250px #fff, 1550px 700px #f44336;
    animation: starsUp 30s linear infinite;
}

.stars-03 {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    box-shadow: 100px 200px #ffeb3b, 200px 250px #ff9800, 200px 500px #00bcd4, 300px 300px #009688, 550px 150px #00bcd4, 550px 300px #2196f3, 350px 500px #fff, 1750px 150px #00bcd4, 1000px 400px #673ab7, 650px 450px #03a9f4, 1200px 50px #ff5722, 1100px 450px #673ab7, 950px 50px #00bcd4, 1100px 500px #03a9f4, 850px 400px #ff9800, 850px 300px #f44336, 1200px 100px #ff9800, 900px 300px #cddc39, 1150px 400px #f44336, 1650px 900px #00bcd4, 650px 600px #ff5722, 350px 600px #009688, 600px 650px #e91e63, 150px 750px #00bcd4, 1750px 450px #ff5722, 250px 800px #00bcd4, 1800px 1150px #ff9800, 450px 1450px #ff5722, 1150px 800px #00bcd4, 100px 700px #3f51b5, 350px 650px #ffeb3b, 250px 600px #ff5722, 1850px 700px #cddc39, 1650px 600px #ffeb3b, 450px 1050px #673ab7, 1550px 500px #f44336, 150px 1400px #8bc34a, 800px 800px #9c27b0, 1250px 1950px #9c27b0, 100px 1700px #8bc34a, 1150px 1350px #e91e63, 1700px 50px #fff, 1750px 500px #f44336, 300px 1100px #cddc39, 350px 1650px #009688, 1700px 1200px #f44336, 450px 800px #ff5722, 2000px 500px #8bc34a, 350px 1600px #f44336, 1350px 1350px #673ab7, 1100px 1750px #3f51b5, 150px 950px #ffeb3b, 1600px 1700px #2196f3, 400px 1000px #ff9800, 650px 1050px #4caf50, 2000px 1650px #00bcd4, 1100px 700px #9c27b0, 1350px 600px #f44336, 600px 1900px #cddc39, 1500px 600px #9e9e9e, 20px 1350px #8bc34a, 850px 1800px #e91e63, 450px 1150px #2196f3, 50px 700px #ff5722, 100px 1400px #f44336, 1000px 1700px #9c27b0, 250px 600px #ff5722, 1200px 850px #cddc39, 1750px 20px #673ab7, 100px 1550px #ffeb3b, 1200px 1650px #3f51b5, 1500px 700px #2196f3, 1800px 600px #03a9f4, 650px 800px #00bcd4, 700px 600px #00bcd4, 1100px 1350px #f44336, 900px 550px #ff5722, 1600px 800px #2196f3, 1000px 1100px #f44336, 1650px 1350px #ff5722, 750px 1050px #ffc107, 1750px 800px #cddc39, 600px 1650px #f44336, 150px 1550px #673ab7, 250px 1800px #fff, 1100px 1700px #ffc107, 800px 1500px #3f51b5, 1100px 1200px #ff5722, 1450px 1600px #cddc39, 150px 1400px #fff, 1200px 1450px #03a9f4, 1800px 1050px #fff, 1250px 1300px #cddc39, 1000px 1000px #4caf50, 300px 700px #4caf50, 100px 1250px #9c27b0, 700px 1750px #00bcd4, 1950px 250px #fff, 1550px 700px #f44336;
    animation: starsUp 50s linear infinite;
}

.stars-04 {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    box-shadow: 100px 200px #ffeb3b, 200px 250px #ff9800, 200px 500px #00bcd4, 300px 300px #009688, 550px 150px #00bcd4, 550px 300px #2196f3, 350px 500px #fff, 1750px 150px #00bcd4, 1000px 400px #673ab7, 650px 450px #03a9f4, 1200px 50px #ff5722, 1100px 450px #673ab7, 950px 50px #00bcd4, 1100px 500px #03a9f4, 850px 400px #ff9800, 850px 300px #f44336, 1200px 100px #ff9800, 900px 300px #cddc39, 1150px 400px #f44336, 1650px 900px #00bcd4, 650px 600px #ff5722, 350px 600px #009688, 600px 650px #e91e63, 150px 750px #00bcd4, 1750px 450px #ff5722, 250px 800px #00bcd4, 1800px 1150px #ff9800, 450px 1450px #ff5722, 1150px 800px #00bcd4, 100px 700px #3f51b5, 350px 650px #ffeb3b, 250px 600px #ff5722, 1850px 700px #cddc39, 1650px 600px #ffeb3b, 450px 1050px #673ab7, 1550px 500px #f44336, 150px 1400px #8bc34a, 800px 800px #9c27b0, 1250px 1950px #9c27b0, 100px 1700px #8bc34a, 1150px 1350px #e91e63, 1700px 50px #fff, 1750px 500px #f44336, 300px 1100px #cddc39, 350px 1650px #009688, 1700px 1200px #f44336, 450px 800px #ff5722, 2000px 500px #8bc34a, 350px 1600px #f44336, 1350px 1350px #673ab7, 1100px 1750px #3f51b5, 150px 950px #ffeb3b, 1600px 1700px #2196f3, 400px 1000px #ff9800, 650px 1050px #4caf50, 2000px 1650px #00bcd4, 1100px 700px #9c27b0, 1350px 600px #f44336, 600px 1900px #cddc39, 1500px 600px #9e9e9e, 20px 1350px #8bc34a, 850px 1800px #e91e63, 450px 1150px #2196f3, 50px 700px #ff5722, 100px 1400px #f44336, 1000px 1700px #9c27b0, 250px 600px #ff5722, 1200px 850px #cddc39, 1750px 20px #673ab7, 100px 1550px #ffeb3b, 1200px 1650px #3f51b5, 1500px 700px #2196f3, 1800px 600px #03a9f4, 650px 800px #00bcd4, 700px 600px #00bcd4, 1100px 1350px #f44336, 900px 550px #ff5722, 1600px 800px #2196f3, 1000px 1100px #f44336, 1650px 1350px #ff5722, 750px 1050px #ffc107, 1750px 800px #cddc39, 600px 1650px #f44336, 150px 1550px #673ab7, 250px 1800px #fff, 1100px 1700px #ffc107, 800px 1500px #3f51b5, 1100px 1200px #ff5722, 1450px 1600px #cddc39, 150px 1400px #fff, 1200px 1450px #03a9f4, 1800px 1050px #fff, 1250px 1300px #cddc39, 1000px 1000px #4caf50, 300px 700px #4caf50, 100px 1250px #9c27b0, 700px 1750px #00bcd4, 1950px 250px #fff, 1550px 700px #f44336;
    animation: starsUp 100s linear infinite;
}

@keyframes starsUp {
    0% {
        transform: translateY(500px);
    }
    100% {
        transform: translateY(-2000px);
    }
}

body {
    background: rgb(8, 6, 39);
    background: linear-gradient( 180deg, rgba(8, 6, 39, 1) 19%, rgba(0, 255, 210, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: "Ubuntu", sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: "Varela Round", sans-serif;
    display: flex;
    justify-content: center;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 74px;
}

.songList {
    margin: 0% 8%;
}

.songItem {
    font-weight: bold;
    height: 50px;
    display: flex;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    background-color: #0fb0ab;
    color: black;
}

.songItem img {
    width: 33px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.far {
    padding: 2px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: "Varela Round", sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
    margin-right: 10px;
    margin-top: 30px;
}

@media only screen and (max-width: 1100px) {
    body {
        background-color: red;
    }
}

@media screen and (min-width: 601px) {
    h1 {
        font-size: 40px;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    h1 {
        font-size: 15px;
    }
}